--extra-index-url https://gitlab.inria.fr/api/v4/projects/18692/packages/pypi/simple

# Core Deep Learning
torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
numpy>=1.24.0,<2.0
accelerate==0.30.1

# Hugging Face Stack
huggingface_hub==0.34.0
transformers==4.57.6
diffusers==0.26.3
safetensors==0.5.3

# Server & UI
fastapi
uvicorn
gradio==3.50.2
requests
urllib3<1.27,>=1.25.4

# API Server / 3D Pipelines Dependencies
einops
tqdm
omegaconf
PyYAML==6.0
Pillow
opencv-python
rembg
onnxruntime

# Mesh & Texture Processing
trimesh
pymeshlab
pygltflib
xatlas

# HY-Motion Specific
bitsandbytes>=0.48.2
transforms3d==0.4.2
torchdiffeq==0.2.5
fbxsdkpy==2020.1.post2
scipy>=1.10.0
openai
peft>=0.17.0

# Build/Utils
ninja
pybind11
